.card-body .bg-danger,
.bg-info,
.bg-success {
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
}
.card-body table td,
.card-body table th {
  font-size: 12px;
  width: 10%;
}
